name: C/C++ CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install -y gcc-arm-none-eabi make freeglut3-dev gcc-avr avr-libc kicad xfig jq imagemagick libpulse-dev libsox-fmt-mp3
    - name: make Tools
      run: make -C src/utilities/ppm2menuimage
    - name: make Coprocessor
      run: make -C src/avr-coprocessor
    - name: make Apps
      run: make -j -C src/apps
    - name: make Tests
      run: make -C src/common/algorithm/unittests test
#Artifact upload always breaks the CI by becoming deprecated, refusing to repeat pipelines
#Should this happen once more, I will simply remove artifacts at all.
    - name: Artifacts upload
      uses: actions/upload-artifact@v4
      with:
        name: Build artifacts
        path: |
          src/avr-coprocessor/*/main.hex
          src/avr-coprocessor/*/pc-simulator/pcSimulate
          src/apps/*/build/*/*.bin
          src/apps/*/build/*/*.elf
          src/apps/*/build/*/*.tar
          src/apps/*/pc-simulator/pcSimulate
          src/utilities/ppm2menuimage/build/ppm2menuimage